<!-- Disabled backdrop -->
<div class="modal fade" id="staticBackdropHistorial" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header pb-3" style="border-bottom: 1px solid #ddd;">
                <h5 class="modal-title"><i class="icon-history mr-2"></i>Bitácora De Mantención Elemento #<span class="font-weight-bold" id="tag_modal_title"></span></h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body py-0" style="border-bottom: 1px solid #ddd;">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Basic responsive table -->
                        <div class="table-responsive">
                            <table class="table table-xs table-hover" id="table_maitenance_element_detail">
                                <thead>
                                    <tr class="table-border-double">
                                        <th class="font-weight-bold">FECHA MANTENCIÓN</th>
                                        <th class="font-weight-bold">TIPO MANTENCIÓN</th>
                                        <th class="font-weight-bold">ACTIVIDAD</th>
                                        <th class="font-weight-bold">TIPO ELEMENTO</th>
                                        <th class="font-weight-bold">ELEMENTO</th>
                                        <th class="font-weight-bold">RESPONSABLE</th>
                                        <th class="font-weight-bold">CANTIDAD</th>
                                        <th class="font-weight-bold">UNIDAD</th>
                                        <th class="font-weight-bold">OBSERVACIÓN</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- /basic responsive table -->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- /disabled backdrop -->
