		            <!-- Disabled backdrop -->
<div class="modal fade" id="staticBackdropImagePreview" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="icon-file-eye2 mr-2"></i> &nbsp;<span id="title_ImagePreview">Vista Previa</span></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <img id="filePath" class="d-block w-100" src="" alt="First slide">
                <span id="img_filePath_name" class="form-text text-center text-muted"></span>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Aceptar</button>
        </div>
        </div>
    </div>
</div>
<!-- /disabled backdrop -->
