/WebApplication.v12.suo
/WebApplication/obj
/WebApplication/bin
/DataServicesAccessImpl/obj
/DataServicesAccessImpl/bin
/DataAccessImpl/bin
/DataAccessImpl/obj
/DataAccessCore/bin
/DataAccessCore/obj
/CrosscuttingUtiles/bin
/CrosscuttingUtiles/obj
/BusinessImpl/bin
/BusinessImpl/obj
/BusinessEntity/bin
/BusinessEntity/obj
.vscode/
.vs/
.cascm/
.git/
Debug/
Release/
