<ul class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-fab-toggle="click">
    <li>
        <a class="fab-menu-btn btn bg-primary-400 btn-float rounded-round btn-icon" style="background-color: #67AC3E;border-color: #72BF44;">
            <i class="fab-icon-open icon-cog52"></i>
            <i class="fab-icon-close icon-cross2"></i>
        </a>

        <ul class="fab-menu-inner">
            <li>
                <div data-fab-label="Notificaciones">
                    <a href="#" class="btn bg-teal-400 rounded-round btn-icon btn-float">
                        <i class="icon-bubble-notification"></i>
                    </a>
                </div>
            </li>
            @*<li>
                <div data-fab-label="Exportar">
                    <a href="#" class="btn bg-warning-400 rounded-round btn-icon btn-float">
                        <i class="icon-file-excel"></i>
                    </a>
                </div>
            </li>*@
        </ul>
    </li>
</ul>