<ul class="fab-menu fab-menu-fixed fab-menu-bottom-left" data-fab-toggle="click">
    <li>
        <img src="~/Content/img/miscelaneous/img_cardinal.png" class="ml-1 mb-2" style="height: 100px;" alt="">
    </li>
</ul>